<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Save Book | Registre</title>
</head>
<body>

<div layout:fragment="content">

    <section class="pt-5 pl-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    <div class="row align-items-center pt-4 pr-5 mt-3">
                        <div class="col-12">

                            <form action="#" th:action="@{/books/save}" th:object="${book}" method="post">
                                <h3 th:if="*{id eq 0}" th:text="*{isCompleted} ? 'Add Book' : 'Add Book to Read'">
                                    Add Book</h3>
                                <h3 th:unless="*{id eq 0}" th:text="*{isCompleted} ? 'Edit Book' : 'Edit Book to Read'">
                                    Edit Book</h3>
                                <hr>
                                <input type="hidden" th:field="*{id}">
                                <input type="hidden" th:field="*{review}">
                                <input type="hidden" th:field="*{isCompleted}">
                                <input type="hidden" th:if="*{!isCompleted}" th:field="*{dateStarted}">
                                <input type="hidden" th:if="*{!isCompleted}" th:field="*{dateCompleted}">
                                <input type="hidden" th:if="*{!isCompleted}" th:field="*{rating}">
                                <div class="form-group">
                                    <label for="inputTitle">Title <span class="text-danger">*</span></label>
                                    <input type="text" th:field="*{title}" class="form-control" id="inputTitle">
                                    <div th:if="${#fields.hasErrors('title')}" class="text-danger pt-1">
                                        This field is required.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAuthor">Author <span class="text-danger">*</span></label>
                                    <input type="text" th:field="*{author}" class="form-control" id="inputAuthor">
                                    <div th:if="${#fields.hasErrors('author')}" class="text-danger pt-1">
                                        This field is required.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPages">Pages</label>
                                    <input type="number" th:field="*{pageCount}" class="form-control" id="inputPages">
                                </div>
                                <div class="form-group">
                                    <label for="inputCategory">Category</label>
                                    <select id="inputCategory" th:field="*{{category}}" class="form-control">
                                        <option th:each="bookCategory : ${T(gr.registre.model.category.BookCategory).values()}"
                                                th:value="${{bookCategory}}" th:text="${bookCategory.name}"></option>
                                    </select>
                                </div>
                                <div th:if="*{isCompleted}" class="form-row ml-auto">
                                    <div class="form-group pr-3">
                                        <label for="inputDateStarted">Date Started</label>
                                        <input type="date" th:field="*{dateStarted}" th:value="*{dateStarted}"
                                               class="form-control" id="inputDateStarted">
                                    </div>
                                    <div class="form-group pr-3">
                                        <label for="inputDateCompleted">Date Completed</label>
                                        <input type="date" th:field="*{dateCompleted}" th:value="*{dateCompleted}"
                                               class="form-control" id="inputDateCompleted">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputRating">Rating</label>
                                        <input type="range" th:field="*{rating}" class="form-control-range"
                                               id="inputRating" value="1" min="1" max="10"
                                               oninput="outputRating.value = inputRating.value">
                                        <output name="outputRatingName" id="outputRating" th:text="*{rating}"></output>
                                    </div>
                                </div>
                                <div class="row ml-auto mb-3">
                                    <button type="submit" class="btn btn-info mr-3">Save</button>
                                    <div>
                                        <a th:href="@{'/books/' + ${book.isCompleted ? 'completed' : 'uncompleted'}}"
                                           class="btn btn-light">Cancel</a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

</body>
</html>