<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Album Reviews | Registre</title>
</head>
<body>

<div layout:fragment="content">

    <section class="pt-5 pl-5">
        <div class="container-fluid">
            <div class="row mb-5">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    <div class="row align-items-center pt-4 pr-5 mt-3">
                        <div class="col-12">

                            <h3>Album Reviews</h3>
                            <hr>

                            <!-- Entries -->
                            <div th:replace="fragments :: entries"></div>

                            <!-- Review -->
                            <div th:each="album: ${page.content}" th:if="${album.review ne null}" class="card mb-3" style="max-width: 80rem;">
                                <div class="card-body">
                                    <div class="row ml-auto mr-auto">
                                        <h5 th:text="${album.title}" class="card-title">...</h5>
                                        <span class="mr-auto"></span>
                                        <div th:replace="fragments :: actionEdit(path='/albums/review?id=' + ${album.id})"></div>
                                        <div th:replace="fragments :: actionDelete(path='/albums/reviews/delete?id=' + ${album.id})"></div>
                                    </div>
                                    <h6 th:text="${album.artist}" class="card-subtitle mb-2 text-muted">...</h6>
                                    <blockquote class="blockquote mb-0">
                                        <p th:text="${album.review.text}">...</p>
                                        <footer th:text="${album.review.dateModified}"
                                                class="blockquote-footer">...</footer>
                                    </blockquote>
                                </div>
                            </div>

                            <!-- Pagination -->
                            <nav th:replace="fragments :: pagination(page=${page}, path='/albums/reviews')"></nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

</body>
</html>