<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Games | Registre</title>
</head>
<body>

<div layout:fragment="content">

    <section class="pt-5 pl-5">
        <div class="container-fluid">
            <div class="row mb-5">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    <div class="row align-items-center pt-4 pr-5 mt-3">
                        <div class="col-12">

                            <h3 th:text="${isCompleted ? 'Games Played' : 'Games to Play'}">Games</h3>
                            <hr>

                            <div class="row ml-auto mr-auto">

                                <!-- Entries -->
                                <div th:replace="fragments :: entries"></div>

                                <span class="mr-auto"></span>

                                <!-- Add button -->
                                <div th:replace="fragments :: tableBtnAdd(text='Add Game', path='/games/' + ${isCompleted ? 'completed' : 'uncompleted'} + '/add')"></div>
                            </div>

                            <!-- Table -->
                            <table class="table table-bordered table-hover table-responsive-sm">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Title</th>
                                    <th>Developer</th>
                                    <th>Category</th>
                                    <th>Released</th>
                                    <th th:if="${isCompleted}">Completed</th>
                                    <th th:if="${isCompleted}">Rating</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="game: ${page.content}">
                                    <td th:text="${game.title}"></td>
                                    <td th:text="${game.developer}"></td>
                                    <td th:text="${game.category?.name}"></td>
                                    <td th:text="${game.dateReleased}"></td>
                                    <td th:if="${isCompleted}" th:text="${game.dateCompleted}"></td>
                                    <td th:if="${isCompleted}" th:text="${game.rating}"></td>
                                    <td>
                                        <div class="row align-items-center">
                                            <div th:replace="fragments :: actionEdit(path='/games/edit?id=' + ${game.id})"></div>
                                            <div th:if="${isCompleted}">
                                                <div th:replace="fragments :: actionReview(path='/games/review?id=' + ${game.id})"></div>
                                            </div>
                                            <div th:if="${!isCompleted}">
                                                <div th:replace="fragments :: actionComplete(path='/games/uncompleted/mark-completed?id=' + ${game.id})"></div>
                                            </div>
                                            <div th:replace="fragments :: actionDelete(path='/games/delete?id=' + ${game.id})"></div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!-- Pagination -->
                            <nav th:replace="fragments :: pagination(page=${page}, path='/games/' + ${isCompleted ? 'completed' : 'uncompleted'})"></nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

</body>
</html>