<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Error | Registre</title>

    <!-- Bootstrap, Custom CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>

<!-- Error page -->
<div class="jumbotron jumbotron-fluid text-center bg-white vertical-center">
    <div class="container mb-5">
        <p>
            <span style="font-size: 100px" th:text="${status}"></span>
            <span style="font-size: 50px; color: #631d1d"> error</span>
        </p>
        <a class="btn btn-outline-info" th:href="@{/}">Home</a>
    </div>
</div>

</body>
</html>